[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CellBench"]
	path = CellBench
	url = https://github.com/shians/cellbench
	shallow = true
	registered = true
[submodule "Glimma"]
	path = Glimma
	url = https://github.com/shians/glimma
	shallow = true
	registered = true
